@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Ganti sesuai kebutuhan */
  z-index: 10;
  height: 4rem; /* Atur sesuai tinggi navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

/* Sidebar styling */
.sidebar {
  position: fixed;
  top: 4rem; /* Menyesuaikan dengan tinggi navbar */
  left: 0;
  height: calc(100vh - 4rem); /* Menyesuaikan dengan tinggi navbar */
  width: 16rem; /* Atur sesuai lebar sidebar */
  background-color: #f8f9fa; /* Ganti sesuai kebutuhan */
  z-index: 10;
}
.sidebar-button {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 20; /* Pastikan tombol berada di atas elemen lain */
}


/* Main content styling */
main {
  overflow-y: auto; /* Memungkinkan scroll di konten utama */
  padding: 1rem; /* Padding untuk konten */
  height: calc(100vh - 4rem); /* Mengatur tinggi konten utama */
}
/* @media screen and (max-width: 1280px) {
  .main {
    overflow-y: auto;
  }
}
@media screen and (max-width: 1024px) {
  .main {
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) {
  .main {
    overflow-y: auto;
  }
}

@media screen and (max-width: 640px) {
  .main {
    overflow-y: auto;
  }
} */
